.logo {
  &.logo-resource {
    + .logo-resource {
      &.logo-wood {
        margin-left: -4px;
      }

      &.logo-fish {
        margin-left: -5px;
      }

      &.logo-stone {
        margin-left: 1px;
      }
    }
  }
}
